.footer {
  position: fixed;
  bottom: 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
  height: 40px;
  padding-top: 20px;

}

.item {
  margin: 50px;
}
